*{
    font-family: "Fredoka", sans-serif;
}

body {
    font-family: "Fredoka", sans-serif;
    background-image: url(../img/Img_Crearcuenta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    margin: 0;
}

.cont-crear {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 700px;
    height: 890px;
    background-color: #96c6b5;
    text-align: center;
    margin-right: 180px;
    border-radius: 40px;
    margin-top: 40px;
}
h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 35px;
    margin: 10px;
}
h2 {
    text-align: center;
    font-size: 35px;
    justify-self: start;
    color: #ad0e3e;
    font-weight: 490;
    margin-top: -10px;
    margin-left: 45px;
    margin-bottom: 0;
}

/* Numeros */
.datos {
    display: inline-block;
    margin: 10px;
    background-color: #f8d9e2;
    border-radius: 20px;
    border: solid 4px #a64d80;
    color: #a64d80;
    outline: none;
    justify-self: center;
    width: 42.5%;
    height: 60px;
}
.datos::placeholder{
    color: #c4195b;
    font-size: 27px;
    font-weight: 500;
    padding-left:10px;
}

/* Direccion datos */
.input-cont {
    background-color: #f8d9e2;
    border-radius: 20px;
    margin: 35px;
    border: solid 4px #a64d80;
    color: #a64d80;
    font-size: 20px;
    display: grid;
    outline: none;
    justify-self: center;
    width: 90%;
    height: 60px;
}
.input-cont::placeholder{
    color: #c4195b;
    font-size: 30px;
    font-weight: 500;
    padding-left:10px;
}
/* BOTON GUARDAR DATOS */
.btn-entrar {
    text-decoration: none;
    width: 200px;
    height: 60px;
    background-color: #c4195b;
    border: #c4195b;
    font-weight: 500;
    font-size: 35px;
    color: #fff;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}
.btn-entrar a {
text-decoration: none;
color: #fff;
font-family: "Fredoka", sans-serif;
}
.btn-entrar:hover {
    background-color: #ae0345;
    box-shadow: 0 0 20px 0 #ad0e3e;
}

/* TABLET */
@media (max-width: 1024px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .cont-crear {
        width: 700px;
        height: 880px;
        margin: 0;
        margin-top: 40px;
        justify-self: center;
        align-self: center;
    }
    .datos::placeholder{
    font-size: 25px;
    }
    .input-cont::placeholder{
    font-size: 25px;
    }
}


/* CELULAR */
@media (max-width: 768px){   
    h1{
        font-size: 34px;
        margin: 20px;
    }
    h2{
        font-size: 30px;
    }
    .cont-crear {
        width: 450px;
        height: 880px;
        margin: 0;
        margin-top: 40px;
        justify-self: center;
        align-self: center;
    }
    .datos::placeholder{
    font-size: 18px;
    }
    .input-cont::placeholder{
    font-size: 18px;
    }
    .datos{
        width: 41%;
        margin: 0 10px;
    }
}